@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root{
    /*Logo colors*/
    --yellow-logo : #ffdf2b;
    --orange-logo : #e47b02;
    --purple-logo : #d400ff;

    /*Background*/
    --background-color : #f6f5f7;

    /*Profil*/
    --separator : #DBDBDB;
    --username : #545454;
    --button: #0095F6;
}