@import "colors.css";

body{
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.main-container{
	display: flex;
	justify-content: space-between;
	min-height: 100%;
	flex-direction: row;
}

.container{
	margin: 0 auto;
	user-select: none;
}

.container form{
	width: 600px;
}

.upload-post, .effect-post, .effect-video, .information-post{
	background-color: var(--popup-color);
	padding: 20px;
	z-index: 1;
	width: calc(100% - 80px);
	margin: 20px;
	border-radius: 1em;
	box-shadow: 10px 10px 14px 0px var(--box-shadow);
}

.effect-control{
	width: 100%;
}

.effect-post{
	display: none;
}

.effect-video{
	display: none;
}

.effect-video video{
	width: 100%;
}

.information-post{
	display: none;
}

.effect-preview{
	width: 100%;
}

.effect-preview-select{
	border: none;
	background-color: transparent;
}

.effect-preview-menu{
	display: flex;
	flex-direction: row;
}

.effect-preview-select img {
	max-width: 100%;
	height: auto;
}

.post-spot{
	background-color: var(--input-background-color);
	border: none;
	color: var(--text-color);
	border-radius: 1em;
	padding: 12px 15px;
	margin: 8px 0px 0px 0px;
	width: calc(100% - 30px);
}

.post-description{
	background-color: var(--input-background-color);
	border: none;
	color: var(--text-color);
	border-radius: 1em;
	width: calc(100% - 20px);
	padding: 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	height: 400px;
	resize: none;
	margin-bottom: 20px;
}

.post-publish{
	padding: 12px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
	color: white;
	border-radius: 10px;
	background-size: 200%;
	border: none;
	background-image: linear-gradient(
	to right,
		var(--yellow-logo),
		var(--orange-logo),
		var(--purple-logo)
	);
}

@keyframes appear {
	0%{ opacity: 0; }
	50%{ opacity: 0.5; }
	100%{ opacity: 1; }
}

.information-post .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 15px;
  margin-top: 8px;
  height: 34px;
}

.information-post .switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.information-post .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.information-post .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.information-post input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

.information-post input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.information-post input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.information-post .slider.round {
  border-radius: 34px;
}

.information-post .slider.round:before {
  border-radius: 50%;
}

.effect-control {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	background-color: #ddd;
	border-radius: 5px;
}

.effect-control::-webkit-slider-runnable-track {
	height: 10px;
	background-color: #3498db;
	border-radius: 5px;
}

.effect-control::-webkit-slider-thumb {
	width: 15px;
	height: 30px;
	background-color: #3498db;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -10px;
}

.effect-control::-webkit-slider-thumb:active {
	background-color: #2980b9; 
}

.effect-control::-webkit-slider-thumb:hover {
	background-color: #2980b9;
}

.post-content {
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.post-content + label {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--text-color);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: 2px dashed #999;
  border-radius: 5px;
  padding: 60px 0px;
}

.post-content + label:hover {
  border-color: #666;
}

.post-content-icon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  padding-bottom: 20px;
    fill: var(--text-color);
  stroke: var(--text-color);
}

@media screen and (max-width: 860px){
	.container{
		width: 100%;
	}

	.container form{
		width: 100%;
	}
}