@import "colors.css";
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }

  .container{
    margin: 0 auto;
    user-select: none;
    width: 100%;
  }
  /*PANEL*/
  
  .settings-panel {
    max-width: 50%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .settings-header {
    background-image: linear-gradient(
        to right,
        var(--yellow-logo),
        var(--orange-logo),
        var(--purple-logo)
    );
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .settings-content {
    padding: 20px;
  }

  /* Parametre photo*/
  
  .settings-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settings-profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  /*Bouton*/

  .settings-apply-btn {
    margin-top: 20px;
}

.settings-apply-btn, input[type="submit"] {
    padding: 12px;
    width: auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    border-radius: 10px;
    background-size: 200%;
    border: 1px solid #fff;
    background-image: linear-gradient(
        to right,
        var(--yellow-logo),
        var(--orange-logo),
        var(--purple-logo)
    );
}

button:hover, input[type="submit"]:hover {
    background-position: right;
}

button:active, input[type="submit"]:active {
	transform: scale(0.95);
}

button:focus, input[type="submit"]:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border: none;
}


  input[type="file"] {
    width: 100%;
    margin-top: 15px;
  }
  
  .settings-info-section {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }

  /* INPUT animé*/
  
  .settings-form-group {
      position: relative;
      margin-bottom: 20px;
  }
  
  .settings-form-field {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: none;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      transition: border-color 0.3s;
      background: transparent;
  }
  
  .settings-form-field:focus {
      outline: none;
      border-color: #3498db;
  }
  
  .settings-form-label {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 0 5px;
      font-size: 16px;
      color: #777;
      pointer-events: none;
      transition: top 0.3s, font-size 0.3s;
  }
  
  .settings-form-field:focus + .settings-form-label,
  .settings-form-field:not(:placeholder-shown) + .settings-form-label {
      top: -15px;
      font-size: 12px;
  }
  .settings-form-field:not(:placeholder-shown) + .settings-form-label {
      color: rgb(0, 0, 0); 
  }